.custom-input {
  width: 100%;
  height: 4px;
  width: 4px;
  height: 100%;
  background: var(--md-sys-color-surface-variant);
  border-radius: 5px;

  writing-mode: vertical-lr;
  -webkit-appearance: slider-vertical;
}

.custom-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: var(--md-sys-color-on-surface-variant) !important;
  border-radius: 50%;
  cursor: pointer;
}

.custom-input::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: var(--md-sys-color-on-surface-variant) !important;
  border-radius: 50%;
  cursor: pointer;
}
